<!-- base.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Главная</a>
        <a href="{{ url_for('workers') }}">Преподаватели</a>
        <a href="{{ url_for('add_worker') }}">+ Новый преподаватель</a>
        <a href="{{ url_for('items') }}">Специальности и Профессии</a>
        <a href="{{ url_for('assign') }}">Назначить преподавателей</a>
        <a href="{{ url_for('item_workers') }}">Вставка на сайт</a>
        <a href="{{ url_for('logout') }}">Выйти</a>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
